/vagrant/
/phantomjs-2.1.1-linux-x86_64/
/bot/site_eduardo_acoes.py
/.vagrant/
/nbproject/
/bot/easy.py
/bot/
/sistema.zip
/instalacao.sh
/package.box
/investimento-2020-01-26.sql
/db/
/node_modules/
/web/js/node_modules/
/doc/videos/
/investimento-2020-03-31.sql
*.sql*