/vagrant/
/phantomjs-2.1.1-linux-x86_64/
/bot/site_eduardo_acoes.py
/.vagrant/
/nbproject/
/bot/easy.py
/sistema.zip
/instalacao.sh
/package.box
/investimento-2020-01-26.sql
!/docker-compose/db_teste/init_teste.sql
/db/
/node_modules/
/web/js/node_modules/
/doc/videos/
/investimento-2020-03-31.sql
/vendor/
/back/
/bot/dados/
/web/js/package-lock.json
/bot/back/
nbproject/project.properties
bot/geckodriver.log
nbproject/project.properties
nbproject/project.xml
web/atualiza_acao.log
dados/atualiza_acao.txt
dados/banco_inter.pdf
dados/cambio.csv
dados/czCcf1HN.html
dados/easy.csv
dados/empresas_bolsa.csv
dados/Exportar_custodia.csv
dados/fundamentos.csv
dados/orders.csv
dados/preco_acao.csv
dados/.~lock.esmpresa_bolsa.csv#
arquivos/
dados/.~lock.preco_acao.csv#
/.vscode/
assets/
*.sql*
log-console.log
